* {
  max-width: 700px;
  margin: auto;
}

/*body {
  min-width: 500px;
}*/

div {
  border-radius: 5px;
}

#header {
  height: 40px;
  width: 100%;
  background-color: aqua;
  position: fixed;
  z-index: 1;
}

#title {
  margin-left: 3%;
}

#footer {
  height: 50px;
  width: 100%;
  background-color: aliceblue;
  clear: both;
  position: relative;
}

.left {
  height: 1000px;
  width: 45px;
  background-color: cadetblue;
}

.right {
  height: 1000px;
  width: 45px;
  background-color: antiquewhite;
  float: right;
  position: inherit;
}

.stuff {
  display: inline-block;
  margin-top: 6px;
  margin-left: 55px;
  width: 75%;
}

p,
li {
  font-family: "Times New Roman", Times, serif;
}

.head {
  font-family: "Courier New", Courier, monospace;
  float: right;
}
